{% extends "layout.html" %}    <!-- これで元になるHTML(laytout.html)を指定 -->
{% block body %}    <!-- layout.htmlのbodyというブロックを以下で置き換える -->

    <div class="container">
        <div class="row align-items-top justify-content-center">
            <div class="col">

                {% if session['logged_in'] == True %}
                  {% if session['edit'] == 1 %}
                    <h1>{{ component['unit'] }} Summary : {{ component['serialNumber'] }} (admin page)</h1>
                  {% else %}
                    <h1>{{ component['unit'] }} Summary : {{ component['serialNumber'] }} (user page)</h1>
                  {% endif %}
                {% else %}
                  <h1>{{ component['unit'] }} Summary : {{ component['serialNumber'] }}</h1>
                {% endif %}
      
                <table class="table table-sm table-bordered" style="font-size: 8pt;">
                  <h4 style="font-size: 13pt;"><i class="fa fa-cog"></i> Index</h4>
                  <thead class="table-dark" style="background: #222222;">
                    <tr>
                      <th scope="col" width="100">Item</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        Serial Number 
                      </td>
                      <td>
                        {{ component['serialNumber'] }} 
                      </td>
                    </tr>
                    <tr>
                      <td>
                        FE type
                      </td>
                      <td>
                        {{ component['componentType'] }}
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Module
                      </td>
                      <td>
                          <a href="{{ url_for('show_component', id=component['module']['_id']) }}">{{component['module']['serialNumber']}}</a>&ensp;
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Chips
                      </td>
                      <td>
                        {% for chip in component['chips'] %}
                          <a href="{{ url_for('show_component', id=chip['_id']) }}">{{chip['serialNumber']}}</a>&ensp;
                        {% else %}
                          No match.
                        {% endfor %}
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>

        {% include "summary_index.html" %}

        {% if component['results'] == {} %}
        {% else %}
          {% include "result.html" %}
        {% endif %}
        {% include "root.html" %}

        {% include "test_index.html" %}
    </div>
{% endblock %}
