<div class="row align-items-top justify-content-center">
  <div class="col">
    <table class="table table-sm table-bordered" style="font-size: 8pt;">
      <h4 style="font-size: 13pt;"><i class="fa fa-cog"></i> Result</h4>
      <thead class="table-dark" style="background: #222222;">
        <tr>
          <th scope="col" class="text-center" rowspan="2">Run Number</th>
          <th scope="col" class="text-center" rowspan="2">Test Type</th>
          <th scope="col" class="text-center" rowspan="2">Stage</th>
          <th scope="col" class="text-center" colspan={{ component['results']['environment']['num'] }}>Environment</th>
          <th scope="col" class="text-center" colspan="2">Runner</th>
        </tr>
        <tr>
          {% for env in component['results']['environment']['list'] %}
            <th scope="col" class="text-center" width="200">{{ env['description'] }}</th>
          {% endfor %}
          <th scope="col" class="text-center" width="200">Institution</th>
          <th scope="col" class="text-center" width="200">UserIdentity</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="col" align="center" >{{ component['results']['runNumber'] }}</td>
          <td scope="col" align="center" >{{ component['results']['testType'] }}</td>
          <td scope="col" align="center" >{{ component['results']['stage'] }}</td>
          {% for env in component['results']['environment']['list'] %}
            <th scope="col" class="text-center" width="200">{{ env['value'] }}</th>
          {% endfor %}
          <td scope="col" align="center" >{{ component['results']['institution'] }}</td>
          <td scope="col" align="center" >{{ component['results']['userIdentity'] }}</td>
        </tr>
        {% set index = [] %}
        {% for comment in component['results']['comments'] %}
          {% if comment['userid'] == session['user_id'] %}
            {% set index = index.append(loop.index-1) %}
          {% endif %}
        {% endfor %}
        {% for comment in component['results']['comments'] %}
          {% if comment['userid'] == session['user_id'] %}
          {% else %}
            <tr>
              <td scope="col" align="center" colspan="6">{{ comment['comment'] }}</td>
              <td scope="col" align="center" >
                {{ comment['user'] }}
                {% if (session['edit'] == 1) and (comment['institution'] == session['institution']) %}
             		  <form action="remove_comment" method="post" enctype="multipart/form-data">
                  	<input type="hidden" value="{{ comment['user'] }}" name="user">
                    <input type="hidden" name="runNumber" value={{ component['results']['runNumber'] }} >
                    <input type="hidden" name="id" value={{ component['_id'] }} >
                    <p><input type = "submit" value = "remove"></p>
                  </form>
                {% endif %}
              </td>
            </tr>
          {% endif %}
        {% endfor %}
        {% if index == [] %}
          {% if session['write'] == 1 %}
            <tr>
        		  <form action="edit_comment" method="post" enctype="multipart/form-data">
                <td scope="col" align="center" colspan="6">
                  <input type = "txt" class="form-control input-normal" placeholder="comment" name = "text">
                </td>
                <td scope="col" align="center middle" >
           		    <input type="hidden" value="{{ session['user_name'] }}" name="user">
                  {{ session['user_name'] }}
                  <input type="hidden" name="runNumber" value={{ component['results']['runNumber'] }} >
                  <input type="hidden" name="id" value={{ component['_id'] }} >
                  <p><input type = "submit" value = "update"></p>
                {% if session['edit'] == 1 %}
                  <p><input type = "submit" value = "remove" formaction="remove_comment"></p>
                {% endif %}
                </td>
              </form>
            </tr>
          {% endif %}
        {% else %}
          <tr>
      		  <form action="edit_comment" method="post" enctype="multipart/form-data">
              <td scope="col" align="center" colspan="6">
                <input type = "txt" class="form-control input-normal" placeholder="comment" name = "text" value = "{{ component['results']['comments'][index[0]]['comment'] }}">
              </td>
              <td scope="col" align="center middle" >
         		    <input type="hidden" value="{{ session['user_name'] }}" name="user">
                {{ session['user_name'] }}
                <input type="hidden" name="runNumber" value={{ component['results']['runNumber'] }} >
                <input type="hidden" name="id" value={{ component['_id'] }} >
                <p><input type = "submit" value = "update"></p>
              {% if session['edit'] == 1 %}
                <p><input type = "submit" value = "remove" formaction="remove_comment"></p>
              {% endif %}
              </td>
            </form>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>

{% if "filename" in component['results']['config'] %}
<h4 style="font-size: 10pt;"><i class="fa fa-file"></i> Config </h4>
<div class="row align-items-top">
  <div class="col">
    <a href="{{ url_for('download_config', code=component['results']['config']['code']) }}" target="_brank" rel="noopener noreferrer">
    <h4 style="font-size: 10pt;"><i class="fa fa-caret-right"></i>{{ component['results']['config']['filename'] }}</h4>
    </a>
  </div>
</div>
{% endif %}

<h4 style="font-size: 10pt;"><i class="fa fa-folder-open"></i> Plot </h4>
<div class="row align-items-top">
    {% if not component['results']['plots'] == [] %}
      {% for result in component['results']['plots'] %}
        <div class="col-md-3">
          {% if "url" in result %}
            <a data-toggle="collapse" href='#{{ result['filename'] }}' aria-controls="testindex" style="color: green;"><h4 style="font-size: 10pt;"><i class="fa fa-caret-right"></i> {{ result['filename'] }} </h4></a>
            <a href={{ result['url'] }} class="collapse" id={{ result['filename'] }} target="_brank" rel="noopener noreferrer">
            <img src={{ result['url'] }} title={{ result['filename'] }} width="250" height="250">
            </img>
            </a>
          {% else %}
            <h4 style="font-size: 10pt;"><i class="fa fa-caret-right"></i> {{ result['filename'] }} </h4>
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}
</div>
<br>
