<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/yarrdb/">PIXEL MODULE DB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggle-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav mr-auto">
      </ul>
      <ul class="nav navbar-nav">
        {% if session['logged_in'] %}
          <li style="margin-right: 1em;">
            <a href="{{ url_for('logout') }}">
              <b>Sign out</b> 
            </a>
          </li>
          {% if session['edit'] == 1 %}
          <li style="margin-right: 1em;">
            <a href="{{ url_for('admin_page') }}">
              <b>Admin page</b> 
            </a>
          </li>
          {% endif %}
        {% else %}
          <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown">
              <b>Sign in</b> 
              <span class="caret"></span>
            </a>
            <ul id="login-dp" class="dropdown-menu" style="width:250px;">
              <li>
                <div class="row align-items-center justify-content-center">
                  <div class="col-md-10">
                    <center><b>Go to local user page</center></b><br>
  								  <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                				  <div class="form-group">
                				  <input type="text" class="form-control" value="" placeholder="username" name="username">
                				  <label class="sr-only" for="login-name"></label>
                				  </div>
                 
                				  <div class="form-group">
                				  <input type="password" class="form-control" value="" placeholder="password" name="password">
                				  <label class="sr-only" for="login-pass"></label>
                				  </div>

  										    <div class="form-group">
  											    <button type="submit" class="btn btn-primary btn-block">Sign in</button>
  										    </div>
                    </form>
                    <div class="form-group">
                      <center><a href="{{ url_for('signup') }}">go to sign up page</a></center>
                    </div>
                  </div>
                </div>
  				    </li>
  			    </ul>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

